*{
    margin: 0%;
    padding: 0px;

}
body{
   
}
div#bucarprocesso{
    margin: 20px 990px;
}

h2{
    text-decoration: none;
    color:rgba(255,255, 255, 0.4);
    display: block;
    text-align: center;
    margin-top: 40px;   
}
a{
    text-decoration: none;
    color:rgba(255,255, 255, 0.4);
    display: block;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
}

a:hover{
    text-decoration: underline;
}

div#co-imagem{
    width: 100%;
    background-image: linear-gradient(#00B2EE, #FFFFFF);

}
img#creadf{
    width: 250px;
    margin-bottom: 20px;
}
img{
    width:100%;
    margin: 10px;
}
div#dadosTabela{
    display:block;
    width: 100%;
    padding:20px;
    margin-top: 30px;
    margin-bottom:90px;
    float: left;
    color:#CD950C;
    font-family: 'Fjalla One', sans-serif;
}
h1{
    display: inline-block;
    margin-left: 700px;
    border:2px solid #CD950C;
    border-radius: 60px;
    padding: 10px;
}

a#acao{
    display: inline-block;
    padding: 5px;
   
}

div#pesquisar{
    display: inline-block;
    margin-left: 20px;
    color: beige;
}
input[type=radio]{
    margin:5px;
}
input[type=submit]{
    margin-left: 7px;
    border-radius: 20px;
    background-color: #4876FF;
    padding: 5px;
    color: beige;
}
div#botaoModal{
    display: inline-flexbox;
    margin: 20px;
}

