*{
    margin: 0%;
    padding: 0px;
}
body{
    background-color:#191970;
}
h1{
    color: rgba(255,255, 255, 0.7);
    border-bottom-color: aliceblue;
    text-align: center;
    padding: 20px;
    font-family: 'Noto Sans TC', sans-serif;
}
h3{
    text-decoration: none;
    color:rgba(255,255, 255, 0.4);
    display: block;
    text-align: center;
    margin-top: 40px;
    
}
a{
    text-decoration: none;
    color:rgba(255,255, 255, 0.4);
    display: block;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
}
a:hover{
    text-decoration: underline;
}
input{
    display:block;
    height: 55px;
    width: 400px;
    margin: 10px auto 10px auto;
    border-radius: 30px;
    font-size: 20px;
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
    background-color: rgba(255,255, 255, 0.2);
    border:none;
}
input[type=submit]{
    background-color:#B8860B;
    color: white;
}
div#corpo-form{
    width: 420px;
    margin: 20px auto 0px auto;
    
}
div#corpo-imagem{
    width: 100%;
    background-color:white;

}
img{
    width:20%;
}
div#corpo-login{
    width: 420px;
    margin: 100px auto 0px auto;
    
}